.card{
    border: solid 1px black;
    border-radius: 4px;
    padding: 30px;
    margin-top: 30px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(85, 85, 85, 0.383);

    &--link {

        

        &:link {color: inherit;}
        &:visited {color: inherit;}
        &:hover {color: inherit;}
        &:active{color: inherit;}
    }

    &--img-container {
        
        overflow: hidden;
        position: relative;
        top: -35px;
        left: -11%;
        width: 123%;
        max-height: 300px;
        
        img{
            width: 100%;
        }
    }
}